<div class="row">
    <div class="col-md-2">
        <p>
            Likelihood of voting 
        </p>
        <input type="number" name="votinglikelyhood" value="50" />
    </div>
    <div class="col-md-2">
        <p>
            Likelihood of voting National
        </p>
        <input type="number" name="votinglikelyhoodnational" value="50" />
    </div>
    <div class="col-md-2">
        <p>
            Party to vote for if not National
        </p>
        <input type="number" name="otherparty" value="Green" />
    </div>
</div>
